
.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(178, 178, 178, 0);
  width: 100vw;
  height: 110vh;
  z-index: 1009;
}

.login-page {
  position: fixed !important;
  transform: translateX(0%);
  z-index: 2000;
  width: 300px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0px #d0d0d0;
  transform-origin: right;
  transition: all 0.3s ease-in-out;
  right: -100%;
  top: 50px;
  height: 100vh;

  &.top-right {
    top: 0;
  }

  &.open-top-right {
    //background: red;
    right: 0%;
    //animation: top-right-to-center 2s ease-in-out infinite alternate-reverse;
  }

  &.left-to-right {
    left: -100%;
  }

  &.open-left-to-right {
    left: 0% !important;
  }


  &.bottom-to-top {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50vh;
    bottom: -100%;
    top: auto;
    box-shadow: 0 0 18px 0px #898989;
    overflow-y: auto;
  }

  &.open-bottom-to-top {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50vh;
    bottom: 0% !important;
    top: auto;
  }


}

.drawer-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 4px;
  border-bottom: 2px solid rgba(var(--primary-500), 0.3);
  margin-bottom: 20px;
}

.theme-chooser {
  position: fixed;
  top: 40vh;
  z-index: 1001;
  right: 10px;

  .icon-theme {
    width: 28px;
    height: 28px;
    border: 1px solid var(--primary-500);
    color: var(--primary-500);
    background-color:  var(--primary-500-02);
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  .theme-chooser- {
    //display: fle

    display: none;

    .icon-color-theme {
      width: 28px;
      height: 28px;
      border-radius: 100%;
      background-color: var(--primary-500);
    }

    &.open {
      display: block;
    }
  }
}