#root {

}




.primary-btn {
    border: 1px solid pink;
    border-radius: 20px;
}
button {
    background: transparent;
    /*font-size: 12px;*/
    /*border-radius: 4px;*/
    outline: none !important;
}

input {
    padding: 5px 10px;
}

.container {
    max-width: 1240px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.slider-root {
    border-radius: 15px;
    overflow: hidden;
}

.slider-item {
    max-height: 324px;
    overflow: hidden;
    border-radius: 15px;
}

.slick-slide:focus {
    border: none !important;
    outline: none !important;
}