#root {

}




.primary-btn {
    border: 1px solid pink;
    border-radius: 20px;
}
button {
    background: transparent;
    /*font-size: 12px;*/
    /*border-radius: 4px;*/
    outline: none !important;
}

input {
    padding: 5px 10px;
}

