
.common-table.employee-list-table {
  width: 100%;
}

.common-table.employee-list-table thead tr {
  @apply text-center p-2;
  background: #d9d9d9;
}

.common-table.employee-list-table tbody tr {
  border-bottom: 1px solid #e3e3e3;
}

.common-table.employee-list-table tbody tr td {
  padding: 10px 0px;
  word-break: break-all;
  text-align: center;
}

.common-table.employee-list-table tr th {
  padding: 14px;
  text-transform: capitalize !important;
  font-weight: 400;
  @apply text-center
}

.common-table.employee-list-table tr th:nth-child(1) {
  @apply rounded-l
}

.common-table.employee-list-table tr th:last-child {
  @apply rounded-r
}

.common-table.employee-list-table tbody {
  height: calc(100vh - 350px);
  overflow: auto;
}

.employee-list-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.employee-list-table td, th {
  /*border: 1px solid #dddddd;*/
  text-align: left;
  padding: 8px;
}

.employee-list-table tbody {
  display: block;
  overflow: auto;
}

.employee-list-table thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.employee-list-table thead {
  width: calc(100% - 5px)
}


.popup-root {
  padding: 14px;
  border-radius: 5px;
  position: absolute;
  z-index: 1001;
  outline: none;
  transition: all 0.3s ease;
  transform-origin: top;
  background: #ffffff;
  box-shadow: 2px 4px 23px 3px #898989c4;
}

.popup-root.open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* Styles for .close state */
.popup-root.close {
  transform: translateY(40px);
  opacity: 0;
  visibility: hidden;
}

.backdrop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}



::-webkit-scrollbar {
  width: 5px; /* Adjust the width as desired */
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #d1d1d1; /* Change the color as desired */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #d1d1d1; /* Change the color as desired */
  border-radius: 5px;
}